body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: #000;
    flex-wrap: wrap;
}

.logo img {
    width: 60px;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1em;
    font-weight: bold;
    cursor: pointer;
}



.affiche {
    /* background-image: url("films/film1.jpg"); */
    display: flex;
    width: 100%;
    height:70vh; /* Nouvelle hauteur */
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
  
}



.content {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
  
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

p {
    font-size: 1em;
    margin-bottom: 0px;
}

.play-button {
    display: inline-block;
    padding: 1em 2em;
    background-color: #e50914;
    border: none; 
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.play-button:hover {
    background-color: #ff0f24;
}


h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 2em ;
    margin-bottom: 0.5em;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 1em 0;
}

footer p {
    font-size: 0.8em;
}


.bouton-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
#carousel-container1, #carousel-container2,
#carousel-container3, #carousel-container4,
#modalContentAffiche
{
    display: flex;
    position: relative;
    width: 80%;
    overflow: hidden;
    z-index: 5;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 auto;
  }
  
 
  
  button {
    background-color: transparent;
    border: none ;
    cursor: pointer;
}

.modal{
   
    position: fixed;
    z-index: 1000; /* Valeur plus élevée que le carrousel */
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal button{
    border: 1px solid white;
    background-color: gray;
}

.modal img{
    width: 50px;
    height: auto;
}


.modal-content{
    margin-left: 20px;
    display: flex;
    gap:10px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modal h2{
    font-size: 1.2em  ;
    margin: 0px 0px;
    padding: 0px 0px;
} 

.modal p{
    font-size: 0.8em;
    margin: 0px 0px;
    padding: 0px 0px;
} 

